 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Fiyat Listesi Detay</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="/">Anasayfa</a></li>
              <li class="breadcrumb-item"><a routerLink="/price-lists">Fiyat Listeleri</a></li>
              <li class="breadcrumb-item active">Fiyat Listesi Detay</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Fiyat Listesi Detay</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">     
          <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModel">Urun Ekle</button>
                <button class="btn btn-info mx-2" (click)="exportExcel()">Excel'e aktar</button>
               
            </div>
            <div class="col-md-6">
              <div class="form-group offset-6">
                <input class="form-control" [(ngModel)]="filterText" [ngModelOptions]="{standalone:true}" type="search" placeholder="Aranacak kelime" aria-label="Aranacak kelime">              
              </div> 
            </div>
          </div>     
                   
        </div>
        <div class="card-body">
          <table class="table table-hovered" id="excel-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Urun Adi</th>
                    <th>Urun Fiyati</th>                    
                    <th>Islemler</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let priceListDetail of priceListDetails
                | priceListDetailPipe:filterText 
                 let index=index">
                    <td [innerText]="index + 1"></td>
                    <td [innerText]="priceListDetail.productName"></td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" [(ngModel)]="priceListDetail.price" [ngModelOptions]="{standalone:true}" />
                        </td>
                                                        
                    <td>                                          
                        <button class="btn btn-warning " (click)="update(priceListDetail)">Guncelle</button>   
                        <button class="btn btn-danger mx-2" (click)="delete(priceListDetail)">Sil</button>
                    </td>                    
                </tr>
            </tbody>
          </table>
        </div>       
      </div>  
    </section>    
  </div>
  <!-- Modal -->
<div class="modal fade" id="addModel" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Urun Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm">
        <div class="form-group">
          <label for="exampleInputPassword1">Urun Adi</label>
          <select class="form-control" ngModel name="productId" #productId required>
            <option [value]="product.id" *ngFor="let product of products" [innerText]="product.name"></option>
          </select>         
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Fiyati</label>
            <input type="text" class="form-control" ngModel name="price" #price required min="0" #priceListName  placeholder="Fiyati">
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!addForm.valid" (click)="add(addForm)">Urun Ekle</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>

  <swal #deleteSwal title="Sil?" text="Urun fiyatini silmek stiyor musunuz?" type="question" [showCancelButton]="true" [focusCancel]="true" [swalOptions]="{confirmButtonText: 'Sil', cancelButtonText:'Vazgec'}"></swal>